# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
builder/node_modules
builder/bower_components
.idea/
.DS_Store
*.keystore
www
npm-debug.log

# ignore vuforia license key file
dev/license/vuforiaLicense.txt
