<div class="info" on-swipe-right="close()" ng-controller="InfoCtrl">
  <div class="open animated" ng-click="open()"></div>
  <div class="bar bar-header">
    <button class="button button-icon icon ion-chevron-left back" ng-click="close()"> Back</button>
    <div class="title">{{content.title.active}}</div>
  </div>
  <div class="content">
    <div class="title">{{content.title_text.active}}</div>
    <div class="body">
      {{content.text.active}}
    </div>
    <div class="services" data-action="testen" data-url="{{content.button.link}}" ng-click="services($event)">{{content.button.caption.active}}</div>
    <div class="footer">
      <div data-url="{{social.website}}" ng-click="services($event)">{{social.website | websiteName}}</div>
      <div>
        <ul>
          <li data-url="{{social.facebook}}" ng-click="services($event)"><i class="ion-social-facebook"></i></li>
          <li data-url="{{social.twitter}}" ng-click="services($event)"><i class="ion-social-twitter"></i></li>
        </ul>
      </div>
      <div class="version">version 0.1.103</div>
    </div>
  </div>
</div>
