<div class="info" on-swipe-right="close()" ng-controller="InfoCtrl">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-chevron-left back" ng-click="close()"> Back</button>
    <div class="title">Info</div>
  </div>
  <div class="content">
    <div class="title">LAAT JE TESTEN IN HET LABO</div>
    <div class="body">Onze dienstverleningen in het labo zijn erop gericht om jou op een verantwoorde en wetenschappelijk onderbouwde manier te helpen in het realiseren van je sportieve ambities. Dit doen we via een uitgebreid aanbod aan o.a. conditietesten, fietspositionering en voedingsadvies.</div>
    <div class="services" ng-click="services()">Ontdek onze dienstverleningen</div>
  </div>
</div>
