<div class="triggered-soda" on-swipe-right="close()" ng-controller="TriggeredSodaCtrl">
  <div class="container">
  <div class="information">
    <el-soda-info ng-repeat="data in info"></el-soda-info>
  </div>
  <div class="content" data-sugar-cubes="{{info | sugarCubes}}">
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <div class="line"><div>25cl</div></div>
    <div class="line"><div>33cl</div></div>
  </div>
  </div>
</div>
