<div class="triggered-soda" on-swipe-right="close()" ng-controller="TriggeredSodaCtrl">
  <div class="container">
  <div class="information">
    <el-soda-info ng-repeat="data in info"></el-soda-info>
  </div>
  <div class="content">
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
    <el-soda-sugar-cube></el-soda-sugar-cube>
  </div>
  </div>
</div>
